# With those settings incus-compose will run 2x4 jobs at the same time on incus.
export TEST_PROCS=2
export INCUS_COMPOSE_WORKERS=4

# These are populated by `just build-healthd-image`
export INCUS_COMPOSE_UP_HEALTHD_IMAGE="some-healthd-image"
export INCUS_COMPOSE_HEALTHD_UP_IMAGE="some-healthd-image"

# The incus remote you test one,
# use a nested container if you don't want your OS
# to interact with the many created networks.
export INCUS_REMOTE="local-https"

# Give tests less time so we see errors faster.
export INCUS_COMPOSE_UP_DEPENDENCY_TIMEOUT="1m"
export INCUS_COMPOSE_UP_TIMEOUT="1m"
export INCUS_COMPOSE_DOWN_TIMEOUT="30s"
# export INCUS_COMPOSE_STORAGE_POOL=dir

# Only needed for publishing images.
export GITHUB_USERNAME=""
export GITHUB_TOKEN=""
